
<h1 style="font-size: 2rem; margin-bottom: 30px;">Products Table</h1>
<p><button (click)="onAdd(); $event.stopPropagation()" style="margin-left: 600px;">New</button></p>


<table class="table table-hover table-bordered table-striped-columns">
    <caption>List of categories</caption>
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Product Id</th>
            <th scope="col">Product Price</th>
            <th scope="col">Product Stock</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of productTable; index as i" (click)="onChangeSelect({selectedItemId: product.id.toString()})" [class.active]="initialSelectedProductId === product.id">
            <th scope="row">{{i + 1}}</th>
            <td>{{product.name}}</td>
            <td>{{product.id}}</td>
            <td>{{product.unitPrice}}</td>
            <td>{{product.unitsInStock}}</td>
            <td>
                <button (click)="onEdit(product.id); $event.stopPropagation()">Edit</button>
                <button (click)="onDelete(product.id); $event.stopPropagation()">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
